<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <link rel="stylesheet" href="/auth/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>ОШИБКА</h1>
        <div class="error-message">
            {{.error}}
        </div>
        <a href="javascript:history.back()" class="btn">Назад</a>
        <a href="/menu" class="btn">Перейти в меню</a>
    </div>
</body>
</html>
