<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шлюз аутентификации</title>
    <link rel="stylesheet" href="/auth/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Меню сервиса утилит отдела аналитики и развития</h1>
        
        {{if .authenticated}}
            <p>Добро пожаловать, {{.username}}!</p>

            <div class="service-list">
                <h2>Ваши доступные сервисы:</h2>
                {{if .services}}
                    <ul>
                        {{range .services}}
                            <li><a href="/{{.}}/">{{.}}</a></li>
                        {{end}}
                    </ul>
                {{else}}
                    <p>У вас нет доступа к каким-либо сервисам.</p>
                {{end}}
            </div>
            
            {{if .isAdmin}}
                <a href="/auth/admin/" class="btn">Админка</a>
            {{end}}

            <a href="/auth/logout" class="btn">Выйти</a>
        {{else}}
            <p>Вы не вошли в систему.</p>
            <a href="/auth/login" class="btn">Войти</a>
        {{end}}
    </div>
</body>
</html>
